.floating-panel {
  background-color: rgba(8, 27, 38, 0.75);
  border: 1px solid rgba(88, 97, 102, 0.5);
  box-shadow: 0 0 10px rgba(242, 118, 107, 0.2);;
  color: #f9f5ec;
  font-family: "JetBrains Mono", monospace;
  min-width: 200px;
  min-height: 150px;
  max-width: 800px;
  max-height: 400px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.floating-panel.resizable {
  resize: both;
  overflow: auto;
}

.panel-header {
  cursor: move;
  background-color: #586166;
  color: #f9f5ec;
  font-weight: bold;
  padding: 6px 12px;
  user-select: none;
  flex-shrink: 0;
}

.panel-body {
  padding: 10px;
  font-size: clamp(12px, 1.2vw, 16px);
  overflow: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  word-wrap: break-word;
  white-space: pre-wrap;
}